.img__computer{
  margin: 0% 2%;
  width: 802px;
  height: 608.67px;
}

.subtitle__center{
  margin-top: 52px;
  margin-bottom: 53px;
  text-align: center;
  font-size: 48px;
}

.subtitle--cont {
  font-size: 46px;
  text-align: center;
}

.price__computer{
  margin-bottom: 21%;
  margin-top: 22%;
  font-weight: 700;
  font-size: 48px;
  line-height: 7px;
  text-align: center;
}

.subtitle__secondary--width{
  width: 423px;
}


// /*Responsive para Tablet*/
// @media (min-width: 768px) and (max-width: 1023px) {
//   .container{
//     max-width: 768px;
//     margin:0 auto;
//   }
  
//   .img__computer {
//     width: 863.84px;
//     height: 638px;
//     margin: 0% ;
//   }
  
//   .container__flex--list {
//     justify-content: center;
//     margin: 0 auto;
//     margin-left: 16%;
//   }
  
//   .img__star {
//     margin: 3rem;
//   }
  
//   .price__computer {
//     margin-bottom: 9%;
//     margin-left: 1%;
//     margin-top: 4%;
//   }
  
//   .list__features--styles {
//     margin: 0% 0% 6% -4%;
//   }
  
//   .subtitle__description {
//     margin-left: 4%;
//   }
  
//   .text__description {
//     margin-left: 4%;
//     width: 92%;
//     margin-top: -4%;
//   }
  
//   .list__styles--1 {
//     margin-left: 4%;
//   }
  
//   .list__styles--2 {
//     margin-left: 4%;
//   }
//   }
  
//   // /*Responsive para Móvil*/
//   @media(min-width: 320px)  and (max-width: 767px ) {
//   .container{
//     max-width: 320px;
//     margin:0 auto;
//   }
  
//   .bg__black--title{
//     font-size: 23px ;
//   }
  
//   .subtitle__line{
//     font-size: 23px ;
//   }
  
//   .subtitle__secondary{
//     font-size: 32px ;
//   }
  
//   .subtitle__secondary{
//     width: 250px ;
//   }
  
//   .container__flex {
//     flex-direction: column ;
//   }
  
//   .subtitle__center{
//     font-size: 24px ;
//   }
  
//   .img__computer {
//     width: auto ;
//     height: 190px ;
//     margin: 0 auto ;
//   }
  
//   .container__flex--list {
//     justify-content: center;
//     margin: 0 auto ;
//   }
  
//   .img__star {
//     margin: 3px ;
//   }
  
//   .price__computer {
//     margin-bottom: 13% ;
//     margin-left: 1% ;
//     margin-bottom: 60px ;
//     font-size: 32px ;
//   }
  
//   .subtitle__description {
//     margin-left: 6% ;
//     font-size: 24px ;
//   }
  
//   .text__description {
//     width: 279px;
//     margin-top: -3% ;
//     font-size: 18px ;
//   } 
  
//   .list__features--styles {
//     margin: 0% 0% 10% -3% ;
//     font-size: 18px ;
//   }
  
//   .container__list--flex {
//     font-size: 22px;
//     flex-direction: column ;
//   }
  
//   .list__styles--1 {
//     width: 88%;
//     font-size: 18px ;
//   }
  
//   .list__styles--2 {
//     margin-left: 6% ;
//     width: 88%;
//     font-size: 18px ;
//   }
//   }

//   @media(min-width: 1024px ){
//   .container{
//       max-width: 1349px;
//       margin:0 auto;
//     }
//   }